#grad {
    background-image: linear-gradient(rgb(240, 233, 233), rgb(63, 50, 68)) !important;
}
  
nav {
    background-color: #795548 !important;
}

ul li {
    cursor: pointer;
    /* make list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
      background: #ddd;
    }
  
  /* When clicked on, strike out text */
  ul li.doubled {
    font-weight: 700;
    }

/* When double clicked, strike out text */
ul li.checked {
    text-decoration: line-through;
    }
  
  /*When you hover over the add button, it changes color */
  .addbutton:hover {
      background-color: rgb(58, 12, 12);
    }