.stars {
display: flex;

}

.stars.disabled {
pointer-events:none;
}


.stars a {

opacity: 50%;
cursor: pointer;
padding:3px;

}

.stars:hover a {
    opacity: 100%

}

.stars a:hover {
opacity: 100%;

}

.stars a:hover ~ a {
opacity: 50%;

}

.container1 {

background-color: gray;

}